Options +FollowSymLinks
RewriteEngine on

<Files .htaccess>
    order allow,deny
    deny from all
</Files>

RewriteCond %{REQUEST_FILENAME}  !-f
RewriteCond %{REQUEST_FILENAME}  !-d

#areas
RewriteRule ^(api|admin)/([a-zA-Z]*)\/?([a-zA-Z0-9]*)?\/?([\w\s\/-]*)?\/?$ ./index.php?Area=$1&Controller=$2&Action=$3&RouteParams=$4 [NC,L]
#/api/thing/action/params => will look for {controllerDir}/{api}/{thing}{api}controller->{action}

#default
RewriteRule ^([a-zA-Z]*)\/?([a-zA-Z0-9]*)?\/?([\w\s\/-]*)?\/?$ ./index.php?Controller=$1&Action=$2&RouteParams=$3 [NC,L]